---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        What Parents say about us!
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Tanuja m/I Arjun</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Parent</p>
          </div>
        </div>
        <p class="mt-8">I would want you to know that I’m very thankful to you for being the guiding force behind Arjun. You are an extremely hard working person and you balance the role of a teacher and a guide in the best way possible. We are lucky to have you around !! Take care!!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Pooja m/I Ayaan</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Parent</p>
          </div>
        </div>
        <p class="mt-8"> Thanks!   for the everything you have done for Ayaan, post class 9th he was struggling in Maths and we were worried, however since the time he has joined your academy he has regained his confidence and scores in maths and science ,without your dedication,professionalism it was not possible.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Gunjan m/I Ous</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Parent</p>
          </div>
        </div>
        <p class="mt-8">After seeing my daughter's improvement in her result, I was committed to write a feedback,
It has almost been 1year since my kid has been studying in Achiever's Academy, the experience has been wonderful! The improvement in her marks have reached the sky....It encouraged her to join other subjects as well. Thank you for the extended support provided by you</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Ruchika m/I Ayaanae</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Parent</p>
          </div>
        </div>
        <p class="mt-8">Dear Renu Mam and Aarti Mam, Please accept my gratitude for all that you have done for my daughter. With god’s grace and your hard work, she was very easily able to score 97% in her Class-6 exams. I truly appreciate you and the time you have spent in helping her and building her concepts at all the levels big and small. She is blessed to have a teacher like you.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Nidhi m/o Tanishka and Himang</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Parent</p>
          </div>
        </div>
        <p class="mt-8"> My daughter started going to Achiever’s Academy 2 yrs back. Due to COVID break in schools,both my son n daughter had lost connection with their basics and I was worried about their performance but Renu mam took their responsibility and both of them are doing so well in their school. Their teachers praise them and I give full credit to Achiever’s Academy for their success.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Mini m/o. Kritik and Namya</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Parent</p>
          </div>
        </div>
        <p class="mt-8">Thankyou so much ma'am for everything you did for my children.. they love to come at your place..thanks for your support n guidance🙏🏻🙏🏻 </p>
      </div>
      
            <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Mamta m/o Mannat</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Parent</p>
          </div>
        </div>
        <p class="mt-8">Renu Gupta Maam is a great expert for Mathas coaching!!   Her personalized attention to each student and continuous assessment helps in improvement in students. My daughter has gained confidence and improved her problem solving skills after joining Renu Maam's classes!!</p>
      </div>

    </div>
  </Container>
</div>